.statsHero {
  height: 150px;
  background-size: 100%;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.statsHeroPerHour {
  @extend .statsHero;
  height: 215px;
}
.statsList {
  padding: 0;
  :last-child {
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
  }
}

.heroImage {
  & img {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    object-fit: cover;
    height: 90%;
    margin-right: 2em;
    margin-top: 10px;
  }
}

.pos {
  color: $navbarWhite;
  margin-left: 0.5em;
  font-size: 1.5em;
  font-weight: bolder;
}
#profit {
  color: $navbarWhite;
  margin-left: 0.8em;
  font-size: 2.7em;
  font-family: $fantasyFont;
}
#heroName {
  text-decoration: none;
  font-size: 1.8em;
  margin-left: 0.5em;
  color: $navbarWhite;
  font-family: $fantasyFont;
  text-transform: capitalize;
}
.heroDate {
  font-size: 1.2em;
  margin-left: 0.5em;
  color: $navbarWhite;
}

#amount {
  margin-left: 0.5em;
  font-size: 1.7em;
  font-weight: 900;
  color: $basecolorGreen;
}
#cardTop {
  background-color: $basecolorPurple;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
}

.statsRow {
  background-color: $navbarWhite;
  display: flex;
  align-content: end;
  height: 70px;
  border-bottom: 0.7px solid;
  & div {
    font-family: "PremierSans-Bold, Arial, Helvetica Neue, Helvetica, sans-serif";
  }
}

.statsRowAllGames {
  @extend .statsRow;
  & :nth-child(1) {
    width: 14%;
  }
  & :nth-child(2) {
    width: 20%;
    & img {
      width: 80%;
    }
  }
  & :nth-child(3) {
    width: 20%;
    font-size: 1em;
  }
  & :nth-child(4) {
    width: 10%;
    text-align: center;
    align-self: center;
    font-size: 1.2em;
    padding-top: 0;
  }
  & :nth-child(5) {
    width: 19%;
  }
}

.rowPos {
  font-weight: bold;
  // padding-left: 5px;
  text-align: center;
  font-size: 1em;
  font-weight: bold;
  align-self: center;
  width: 15%;
}
.rowPosTop {
  @extend .rowPos;
  width: 11%;
  text-align: center;
  padding-left: 0px;
}

.rowImage {
  align-self: center;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    border-radius: 50%;
    border: 1px solid black;
    height: 60px;
    width: 60px;
    object-fit: cover;
    background-image: linear-gradient($basecolorPurple, #4e4949);
  }
}
.rowImageTop {
  @extend .rowImage;
  width: 20%;
}

.rowName {
  font-size: 1.2em;
  font-weight: bold;
  font-family: $fantasyFont;
  padding-left: 0.8em;
  align-self: center;
  text-transform: capitalize;
  flex-grow: 2;
}
.rowNameTop {
  @extend .rowName;
  padding-left: 0;
  text-align: start;
  width: 40%;
}
.rowDate {
  width: 25%;
  text-align: center;
  align-self: center;
  font-size: 0.9em;
  font-family: $fantasyFont;
}

.rowProfit {
  width: 20%;
  font-family: $fantasyFont;
  align-self: center;
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.rowProfitSuccess {
  @extend .rowProfit;
  font-size: 0.9em;
}

.rowProfitTop {
  @extend .rowProfit;
  text-align: center;
  width: 14%;
}

.avgP {
  color: $navbarWhite;
}
#h2hLi {
  list-style: none;
}

.h2hDetailsRow {
  height: 3.5em;
  color: $navbarWhite;
  font-size: 0.6em;
  text-align: center;
  align-items: center;
  & p {
    margin: 0;
    width: 10%;
  }
  & :nth-child(2) {
    width: 17%;
  }
  & :nth-child(3) {
    width: 30%;
  }
  & :nth-child(4) {
    width: 20%;
  }
  & :nth-child(5) {
    width: 20%;
  }
  & :nth-child(6) {
    width: 10%;
  }
}

.rowImageH2h {
  @extend .rowImageTop;
  width: 17%;
}

.rowH2hAvg {
  @extend .rowDate;
  font-size: 1.2em;
  text-align: center;
  width: 26%;
}

.rowH2hG {
  @extend .rowDate;
  width: 24%;
  font-size: 1.2em;
  padding-left: 1em;
}

.rowNameH2h {
  @extend .rowNameTop;
  width: 40%;
  padding-left: 0.3em;
}

#lGame {
  width: 90%;
  font-size: 0.7em;
  justify-content: start;
}

#lGameMain {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  & p {
    font-size: 0.9em;
    text-align: center;
  }
  & :nth-child(1) {
    width: 15%;
  }
  & :nth-child(2) {
    width: 18%;
  }
  & :nth-child(3) {
    width: 30%;
  }
  & :nth-child(4) {
    width: 22%;
  }
  & :nth-child(5) {
    width: 17%;
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
  }
}

.rowPosPerHour {
  @extend .rowPos;
  width: 8%;
}

.rowImagePerHour {
  @extend .rowImage;
  width: 18%;
}
.rowNamePerHour {
  @extend .rowName;
  padding-left: 0.4em;
  width: 15%;
  font-size: 0.9em;
}

.rowHours {
  width: 15%;
  text-align: center;
  align-self: center;
  font-size: 1.2em;
  font-weight: bolder;
  font-family: "PremierSans-Bold, Arial, Helvetica Neue, Helvetica, sans-serif";
}
.statsHeaderPerHour {
  background-color: $perHourGreen;
  list-style: none;
  height: 3.5em;
  & div {
    text-align: center;
    font-size: 0.8em;
    align-self: center;
    font-weight: bolder;
    border-right: 1px solid black;
  }
  & :nth-child(1) {
    width: 10%;
  }
  & :nth-child(2) {
    width: 25%;
  }
  & :nth-child(3) {
    width: 29%;
  }
  & :nth-child(4) {
    width: 22%;
  }
  & :nth-child(5) {
    width: 22%;
  }
  & :nth-child(6) {
    border-right: none;
  }
}
.rowProfitPerHour {
  @extend .rowProfit;
  width: 18%;
}

.heroPerHour {
  color: gold;
  font-size: 0.5em;
  // padding: 0;
}
.heroImagePerHour {
  @extend .heroImage;
  height: 80%;
  & img {
    padding-right: 1.2em;
    margin-right: 0;
    margin-top: 1em;
  }
}

#lGameP2P {
  font-size: 0.8em;
  p {
    text-align: center;
    align-self: center;
  }

  :nth-child(1) {
    width: 19%;
  }
  :nth-child(2) {
    width: 14%;
  }
  :nth-child(3) {
    width: 15%;
  }
  :nth-child(4) {
    width: 19%;
    padding-left: 0.7em;
  }
  :nth-child(5) {
    width: 14%;
  }
  :nth-child(6) {
    width: 19%;
  }
}

.container .playersList {
  display: flex;
  overflow: hidden;
  padding-left: 0.5rem;
  flex-wrap: wrap;
  img {
    display: inline-block;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    border: 2px solid #666;
    margin-right: 0;
    margin-left: -0.5rem;
    object-fit: cover;
    background-image: linear-gradient(#6c14b4, #4e4949);
  }
}
#perHourHeroSide {
  min-width: 40%;
}

// * {
//   outline: 1px solid red;
// }
