.statsHero {
  height: 100px;
  // width: 280px;
  background-size: 100%;
}
.statsList {
  padding: 0;
}

.heroImage {
  & img {
    object-fit: cover;
    height: 100%;
    margin-right: 2em;
  }
}

.pos {
  color: $navbarWhite;
  margin-left: 0.5em;
  font-size: 1em;
}
#profit {
  color: $navbarWhite;
  margin-left: 0.8em;
  font-size: 2.7em;
  font-family: $fantasyFont;
}
#heroName {
  text-decoration: none;
  font-size: 1em;
  margin-left: 0.6em;
  color: $navbarWhite;
  font-family: $fantasyFont;
  text-transform: capitalize;
}
.heroDate {
  font-size: 0.8em;
  margin-left: 0.4em;
  color: $navbarWhite;
}

#amount {
  margin-left: 0.7em;
  font-size: 1em;
  color: $basecolorGreen;
}
#cardTop {
  background-color: $basecolorPurple;
}

.statsRow {
  background-color: $navbarWhite;
  display: flex;
  align-content: end;
  height: 50px;
  border-bottom: 0.7px solid;
}

.rowPos {
  font-weight: bold;
  padding-left: 5px;
  font-size: 0.8em;
  font-weight: bold;
  align-self: center;
}
.rowPosTop {
  @extend .rowPos;
  width: 10%;
}

.rowImage {
  align-self: center;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  // margin-left: 0.8em;
  img {
    border-radius: 50%;
    border: 1px solid black;
    height: 40px;
    width: 40px;
    object-fit: cover;
    background-image: linear-gradient($basecolorPurple, #4e4949);
  }
}
.rowImageTop {
  @extend .rowImage;
  width: 20%;
}

.rowName {
  font-size: 0.8em;
  font-weight: bold;
  font-family: $fantasyFont;
  padding-left: 2.5em;
  align-self: center;
  // padding-top: 0.9em;
  text-transform: capitalize;
  flex-grow: 2;
}
.rowNameTop {
  @extend .rowName;
  padding-left: 0;
  text-align: start;
}
.rowDate {
  width: 25%;
  text-align: center;
  align-self: center;
  font-size: 0.7em;
  font-family: $fantasyFont;
  // padding-right: 5em;
  // padding-top: 0.9em;
}

.rowProfit {
  width: 20%;
  font-size: 0.7em;
  font-family: $fantasyFont;
  align-self: center;
  text-align: center;
  font-size: 0.9em;
  font-weight: bold;
}

.rowProfitTop {
  @extend .rowProfit;
  // text-align: start;
  text-align: center;
}

.avgP {
  color: $navbarWhite;
}
#h2hLi {
  list-style: none;
}

.h2hDetailsRow {
  height: 3.5em;
  color: $navbarWhite;
  font-size: 0.7em;
  align-self: center;
  & p {
    margin: 0;
    width: 15%;
  }
  & :nth-child(3) {
    padding-left: 1.9em;
  }
}

.rowImageH2h {
  @extend .rowImageTop;
  width: 12%;
}

.rowH2hAvg {
  @extend .rowDate;
  text-align: center;
}

.rowH2hG {
  @extend .rowDate;
  padding-left: 1em;
}

.rowNameH2h {
  @extend .rowNameTop;
  width: 20%;
  padding-left: 0.5em;
}

#lGame {
  width: 90%;
  font-size: 0.7em;
  justify-content: start;
}
#h2hGdata {
  & :nth-child(2) {
    text-align: start;
  }
  & :nth-child(6) {
    text-align: end;
  }
}
