#cashingList {
  border-bottom: 1px solid black;
  &:nth-child(even) {
    background-color: #f2f2f2;
  }
}

.cashingDetails {
}

#cashingName {
  width: 40%;
  text-align: start;
  justify-self: end;
  //   align-self: baseline;
}

#cashingAmmount {
  width: 30%;
}
