* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  // font-family: "Roboto-slab";
  // font-family: "Playfair Display", serif;
  font-family: "Noto Sans JP", sans-serif;
}

$basecolorRed: #ff3030;
$basecolorGreen: #02d84d;
$headerColorBlue: #2752ea;
$navbarWhite: #fcfcfc;
$basecolorPurple: #901eed;
$backgroundGreen: #7aef9b;
$backgroundBlack:#1c1515;
