* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  // font-family: "Roboto-slab";
  // font-family: "Playfair Display", serif;
  font-family: "Noto Sans JP", sans-serif;
  // outline: 1px solid red;
}

$basecolorRed: #ff3030;
$basecolorGreen: #02d84d;
$baseColorGold: gold;
$headerColorBlue: #2752ea;
$navbarWhite: #fcfcfc;
$basecolorPurple: #6c14b4;
$darkeerPurple: #520c8c;
$backgroundGreen: #7aef9b;
$perHourGreen: #0fe4a4;
$backgroundBlack: #1c1515;
$newBlue: #009dff;

@import url("https://fonts.googleapis.com/css2?family=Andada+Pro:wght@400;500;600;700&display=swap");
$headerFont: "Andada Pro", serif;
$fantasyFont: "PremierSans-Bold, Arial, Helvetica Neue, Helvetica, sans-serif";
