.demo-img {
  border: 1px solid black;
  height: 350px;
  width: 450px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.row.demoText {
  color: $navbarWhite;
  font-size: 1.5em;
}

.demoVideo {
  border: 4px solid $headerColorBlue;
}
@media screen and (max-width: 600px) {
  .demoVideo {
    width: 350px;
    height: 250px;
  }
}
