footer {
  color: black;
  background-image: linear-gradient(
    to bottom right,
    $basecolorGreen,
    $navbarWhite
  );
  height: 250px;
}

@media screen and (max-width: 600px) {
  footer {
    height: 400px;
  }
}

.d-flex {
  img {
    height: 150px;
    max-width: 200px;

    border-radius: 40px;
  }
  p {
    font-size: 1.3em;
    font-weight: 800;
  }
}

.social-icons {
  img {
    height: 30px;
  }

  ul {
    list-style: none;
  }
  p {
    font-size: 1em;
    text-decoration: underline;
  }
  a {
    color: black;
  }
}
