#footer {
  color: black;
  background-image: linear-gradient(
    to bottom right,
    $basecolorGreen,
    rgb(200, 211, 200)
  );
  height: 10em;
}

.logoImage {
  height: 8em;

  & img {
    height: 100%;
    border: 1px solid black;
    border-radius: 20px;
  }
}

.copyrights {
  & p {
    font-size: 1.3em;
    font-weight: bolder;
  }
  & a{
    font-size: 1.1em;
    display: block;
   
    font-weight: bolder;
    margin:auto;
    text-align: center;
  }
}

.social-icons {
  height: 5em;
  width: 25em;
  & p {
    font-size: 1.2em;
    font-weight: bolder;
    text-decoration: underline;
    text-align: center;
  }
  & ul {
    list-style: none;
    height: 2.2em;

    & li a img {
      height: 100%;
    }
  }
}

@media screen and (max-width: 600px) {
  #footer {
    height: 22em;
  }
  .logoImage {
    margin-top: 1.5em;
  }
  .copyrights {
    & p {
      font-size: 1.5em;
      width: 80%;
      font-weight: bolder;
      margin: auto;
      text-align: center;
    }
  }
  .social-icons {
    margin-bottom: 2em;
    & p {
      font-size: 1.5em;
    }
  }
}
