.playerImage {
  border: 3px solid $headerColorBlue;
  width: 3em;
  height: 3em;
  object-fit: cover;
  background-color: $basecolorPurple;
  border-radius: 50%;
}

.join {
  color: $basecolorGreen;
}
#selectTitle {
  color: $headerColorBlue;
  font-size: 0.7em;
}
.card-head {
  width: 100px;
  height: 100px;
}

.card-body {
  // & button {
  //   font-size: 0.5em;
  //   max-width: 60px;
  //   display: flex;
  //   justify-content: center;
  // }
}

#players_select {
  height: 9.8em;
}
.playersCard {
  max-height: 80%;
}

.MuiTableCell-root.MuiTableCell-body {
  & input {
    border: 2px solid black;
    max-width: 50%;
  }
}

tfoot {
  & td {
    font-weight: bolder;
    text-decoration: underline;
    font-size: 20px;
    padding-left: 18px;
    color: $headerColorBlue;
  }
}

.MuiTableRow-root.last-head.MuiTableRow-head {
  & th {
    font-size: 17px !important;

    padding: 0 7px 0 0;
  }
}

.line-chart {
  height: 25em;
}
