.container.pt-3 {
  animation-name: cont;
  animation-duration: 1500ms;
  transition-timing-function: ease-in;
  animation-delay: 0ms;
  opacity: 1;
  //animation-fill-mode: both;
}

@keyframes cont {
  0% {
    opacity: 0;
    transform: translate3d(0px, 100%, 0px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
h1 {
  text-decoration: underline;
  font-size: 3.5em !important;
  color: $basecolorGreen;
}

.col p {
  font-size: 1.5em;
}

.col p:nth-child(4) {
  color: $basecolorRed;
  font-weight: bolder;
}
.col p:nth-child(5) {
  color: $basecolorGreen;
  font-weight: bolder;
}

.col img:nth-child(1) {
  border: 3px solid black;
  border-radius: 15px;
  transform: rotate(-30deg);
  margin: 2em;
  //padding-left: 2em;

  //   @keyframes mymove {
  //     0% {
  //       width: 100px;
  //     }
  //     50% {
  //       width: 150px;
  //       transform: rotate(-10deg);
  //     }
  //     100% {
  //       width: 250px;
  //       transform: rotate(-30deg);
  //     }
  //   }
}

.col img:nth-child(2) {
  border: 3px solid black;
  border-radius: 15px;
  margin: 2em;
  //transform: rotate(-20deg);
  @keyframes spin {
    100% {
      transform: rotate(360deg);
    }
  }
}
