.container.pt-3 {
  animation-name: cont;
  animation-duration: 1500ms;
  transition-timing-function: ease-in;
  animation-delay: 0.8ms;
  opacity: 1;
}

@keyframes cont {
  0% {
    opacity: 0;
    transform: translate3d(0px, 100%, 0px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
h1 {
  font-size: 2.5em !important;
  color: $newBlue;
  font-weight: bolder !important;
  font-family: "Noto Sans JP", "sans-serif";
}

.row.home {
  display: flex;
  justify-content: space-between;
}

#homeText p {
  font-size: 1em;
  color: $navbarWhite;
  // width: 80%;
}

#homeText p:nth-child(4) {
  color: $basecolorRed;
  font-weight: bolder;
}
#homeText p:nth-child(5) {
  color: $basecolorGreen;
  font-weight: bolder;
}

#homeImg {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.homeImg1 {
  display: flex;
  justify-content: center;

  height: 12em;

  & img {
    display: flex;
    justify-content: center;
    border: 3px solid $basecolorRed;
    border-radius: 15px;
    transform: rotate(-30deg);
    object-fit: cover;
    width: 80%;
  }
}
.homeImg2 {
  display: flex;
  justify-content: center;
  object-fit: cover;

  height: 12em;
  & img {
    border: 3px solid $basecolorGreen;
    border-radius: 15px;
    width: 80%;
  }
}

#create,
#join {
  color: $headerColorBlue;
  text-decoration: underline;
}

@media screen and (max-width: 600px) {
  #homeImg {
    margin: 3em 0 3em 0;
  }

  .homeImg1 {
    margin-bottom: 3em;
  }

  .homeImg1 img {
    width: 50%;
  }
  .homeImg2 img {
    width: 50%;
  }
}
