.container-fluid.pt-3 {
  animation-name: cont;
  animation-duration: 1500ms;
  transition-timing-function: ease-in;
  animation-delay: 0.8ms;
  opacity: 1;
  margin-left: 5%;
  //animation-fill-mode: both;
}

@keyframes cont {
  0% {
    opacity: 0;
    transform: translate3d(0px, 100%, 0px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
h1 {

  font-size: 2.5em !important;
  color: $basecolorRed;
  font-weight: bolder !important;

  font-family: $fantasyFont;
}

#homeText p {
  font-size: 2em;
  color: $navbarWhite;
}

#homeText p:nth-child(4) {
  color: $basecolorRed;
  font-weight: bolder;
}
#homeText p:nth-child(5) {
  color: $basecolorGreen;
  font-weight: bolder;
}

#homeImg img:nth-child(1) {
  border: 3px solid $basecolorRed;
  border-radius: 15px;
  transform: rotate(-30deg);
  margin: 2em 0 0 4em;
  object-fit: cover;
}

#homeImg img:nth-child(2) {
  border: 3px solid $basecolorGreen;
  border-radius: 15px;
  margin: 4em;
  //transform: rotate(-20deg);
  @keyframes spin {
    100% {
      transform: rotate(360deg);
    }
  }
}

#create, #join{
  // font-size: 50px;
  color:$headerColorBlue;
  text-decoration: underline;
}