@import "config";

.container-fluid {
  margin-left: 5% !important;
  margin-right: 12% !important;
}

nav {
   background-color: $backgroundBlack;
}
.navbar-light .navbar-toggler-icon{
  background-color: white;
  height: 50px;
  width: 50px;
  border-radius: 12px;
  // border:2px solid red;
}



.navbar-brand img {
  border-radius: 15px;
  height: 100px;
  width: 100px;
}

.nav-link {
  color: $navbarWhite !important;
  font-size: x-large !important;
  margin-right: 20px;
  font-weight: 900;
}
.nav-link:hover {
  color: $basecolorGreen !important;
}

.userDetails{
  display: flex;
  & p{
   padding: 8px 30px 0 12px;
   font-weight: bold;
   font-size: 25px;
  }
  & img{
    background-color: $darkeerPurple;
  }
}

@media screen and (max-width: 600px) {
.userDetails{
  display: block;
  & p{
    padding: 0;
  }
}
}