.statsRows {
  background-color: $navbarWhite;
  align-content: end;
  height: 3.5em;
  border-bottom: 0.7px solid;
}

.rowPlayer {
  align-self: center;
  width: 15%;

  img {
    border-radius: 50%;
    border: 1px solid black;
    height: 2.7em;
    width: 80%;
    display: block;
    margin: auto;
    object-fit: cover;
    background-image: linear-gradient($basecolorPurple, #4e4949);
  }
}

.rowCash {
  align-self: center;
  min-width: 10%;
}
.rowCashInHand {
  align-self: center;
  width: 20%;
  & input {
    max-width: 100%;
  }
}
.playerProfit {
  // margin-left: 0.2em;
  align-self: center;
  min-width: 10%;
}
.fas.fa-minus-circle {
  //  width: 10%;
  // margin-left: 0.4em;
  align-self: center;
  font-size: 0.5em;
  // padding-right: 0.5em;
}
.fas.fa-money-bill-wave {
  align-self: center;
  font-size: 0.6em;
  // width: 10%;
}

#gameLi {
  width: 100%;
  height: 50px;
  background-color: $basecolorPurple;
}
.gameHeaders {
  align-self: flex-end;
  font-size: 0.8em;
  width: 100%;
  justify-content: center;
  color: $navbarWhite;
}

#lastGameHero {
  background-color: $basecolorPurple;
  width: 100%;
  height: 3.5em;
  justify-content: center;
  color: $navbarWhite;
  align-items: center;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;

  & p {
    margin-bottom: 0;
  }
}

#lGameAllGames {
  font-size: 0.8em;
  text-align: center;
  text-decoration: underline;
  & :nth-child(1) {
    width: 14%;
  }
  & :nth-child(2) {
    width: 20%;
  }
  & :nth-child(3) {
    width: 29%;
  }
  & :nth-child(4) {
    width: 19%;
  }
  & :nth-child(5) {
    width: 19%;
  }
}

.gameH2h {
  align-items: center;
  color: $navbarWhite;
}
.alert-success {
  background-color: $basecolorGreen !important;
}
.buttonsGame {
  background-color: white;
}
@media screen and (min-width: 600px) {
  .rowPlayer {
    width: 10%;
    & img {
      width: 50%;
    }
  }
}

#lGamePlayer {
  padding-left: 0.5em;
  align-self: center;
  font-size: 1em;
  font-weight: bolder;
  width: 30%;
}
.rowCashingLastGame {
  width: 21%;
  align-self: center;
  text-align: center;
  font-size: 1.1em;
  // padding-left: 0.5em;
}
// *{
//   outline: 1px solid red;
// }
