.statsRows {
  background-color: $navbarWhite;
  align-content: end;
  height: 3.5em;
  border-bottom: 0.7px solid;
}

.rowPlayer {
  align-self: center;
  width: 15%;
  img {
    border-radius: 50%;
    border: 1px solid black;
    height: 2.5em;
    width: 2.5em;
    display: block;
    margin: auto;
    object-fit: cover;
    background-image: linear-gradient($basecolorPurple, #4e4949);
  }
}
.rowPlayer.newGame {
  img {
    border-radius: 50%;
    margin-top: 0.3em;
  }
}

.rowCash {
  align-self: center;
  min-width: 10%;
}
.rowCashInHand {
  align-self: center;
  width: 20%;

  & input {
    max-width: 100%;
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
  }
}
.playerProfit {
  align-self: center;
  min-width: 10%;
}
.fas.fa-minus-circle {
  align-self: center;
  font-size: 0.5em;
}
.fa-floppy-disk,
.fa-pen-to-square {
  font-size: 0.6em;
  align-self: center;
}

.fas.fa-money-bill-wave {
  align-self: center;
  font-size: 0.6em;
}

#gameLi {
  width: 100%;
  height: 50px;
  background-color: $basecolorPurple;
}
.gameHeaders {
  align-self: flex-end;
  font-size: 0.8em;
  width: 100%;
  justify-content: center;
  color: $navbarWhite;
}

#lastGameHero {
  background-color: $basecolorPurple;
  width: 100%;
  height: 3.5em;
  justify-content: center;
  color: $navbarWhite;
  align-items: center;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;

  & p {
    margin-bottom: 0;
  }
}

#lGameAllGames {
  border-radius: 0;
  font-size: 0.8em;
  text-align: center;
  text-decoration: underline;
  & :nth-child(1) {
    width: 14%;
  }
  & :nth-child(2) {
    width: 20%;
  }
  & :nth-child(3) {
    width: 29%;
    text-align: start;
    padding-left: 0.8em;
  }
  & :nth-child(4) {
    width: 19%;
  }
  & :nth-child(5) {
    width: 19%;
    border-radius: 0;
  }
}

.gameH2h {
  align-items: center;
  color: $navbarWhite;
}
.alert-success {
  background-color: $basecolorGreen !important;
}
.buttonsGame {
  background-color: white;
}
@media screen and (min-width: 600px) {
  .rowPlayer {
    width: 10%;
    & img {
      width: 50%;
    }
  }
}

#lGamePlayer {
  padding-left: 0.5em;
  align-self: center;
  font-size: 1em;
  font-weight: bolder;
  width: 30%;
}
.rowCashingLastGame {
  width: 21%;
  align-self: center;
  text-align: center;
  font-size: 1.2em;
}

.btn-danger.update {
  border-bottom-left-radius: 5px !important;
  border-bottom-right-radius: 5px !important;
}

#liveGameRow {
  div {
    width: 20%;
    align-self: center;
    font-size: 1em;
    padding-top: 0;
  }
}
.playerNameOnGame {
  font-size: 0.7em;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  text-align: center;
  font-weight: 700;
}
.swal2-image {
  border-radius: 50%;
}
// *{
//   outline: 1px solid red;
// }
