.playerBg {
  background-color: gold;
  border-radius: 10px;
  background-size: 170%;
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 5px #888888;
  width: 96%;
  margin: auto;
  height: 12em;
}
.pImage {
  align-self: end;
  max-width: 40%;
  & img {
    height: 9em;
    width: 100%;
  }
}

.pDetails {
  align-self: center;
  color: $navbarWhite;
  & p {
    font-family: $fantasyFont;
    font-size: 1.5em;
    text-transform: capitalize;
  }
}

@mixin detailedStats {
  width: 90%;
  margin: auto;
  font-size: 0.9em;
}
.detailedStats {
  width: 90%;
  margin: auto;
  font-size: 0.9em;
}
.personalStat {
  & :first-child {
    border-right: 1px solid grey;
    font-weight: 900;
    text-decoration: underline;
    text-align: center;
  }
  & :nth-child(2) {
    text-align: center;
    color: blue;
  }
}

.personalStatP {
  @extend .personalStat;
  :first-child {
    font-size: 0.9em;
  }
  :nth-child(2) {
    font-size: 0.8em;
  }
}
.detailedStatsRow2 {
  @include detailedStats;
}

#personalheader {
  font-size: 4em;
  @extend #personalDetails;
}
#personalDetails {
  font-size: 0.7em;
  align-items: center;
  & :nth-child(1) {
    width: 15%;
  }
  & :nth-child(2) {
    width: 25%;
    padding-left: 0.5em;
  }
  & :nth-child(3) {
    width: 12%;
  }
  & :nth-child(4) {
    width: 12%;
  }
  & :nth-child(5) {
    width: 12%;
  }
  & :nth-child(6) {
    width: 10%;
  }
}

canvas {
  background-color: $navbarWhite;
  border-radius: 30px;
}
