.vsImage {
  height: 22em;
  width: 100%;
  background-size: 100% 22em;
  background-repeat: no-repeat;
  border: 1px solid #fff;
}

.sideBets1 {
  & p {
    text-align: center;
    font-size: 1.1em;
  }
}

.sideBets2 {
  @extend .sideBets1;
}
.sideBetsPlayer1 {
  & img {
    width: 5em;
    max-height: 5em;
    border-radius: 50%;
    border: 2px solid gold;
    object-fit: cover;
  }
}

.sideBetsPlayer2 {
  @extend .sideBetsPlayer1;
}

.credit {
  font-size: 0.5em;
}

.sidebetName {
  color: gold;
  font-size: 1.8em;
  text-transform: capitalize;
}
// * {
//   outline: 1px solid red;
// }
