.vsImage {
  height: 22em;
  width: 100%;
  background-size: 100% 22em;
  background-repeat: no-repeat;
  border: 1px solid #fff;
}

.sideBets1 {
  & p {
    text-align: center;
    font-size: 1.1em;
  }
}

.sideBets2 {
  @extend .sideBets1;
}
.sideBetsPlayer1 {
  & img {
    width: 5em;
    max-height: 5em;
    border-radius: 50%;
    border: 2px solid gold;
    object-fit: cover;
  }
}

.sideBetsPlayer2 {
  @extend .sideBetsPlayer1;
}

.credit {
  font-size: 0.5em;
}

.sidebetName {
  color: gold;
  font-size: 1.8em;
  text-transform: capitalize;
}
.sideBetPlayer {
  color: white;
  font-size: 0.9em;
  text-transform: capitalize;
  & img {
    width: 2.9em;
    height: 2.9em;
    border-radius: 50%;
    border: 2px solid white;
    object-fit: cover;
    background-color: $basecolorPurple;
  }
}

.selectedSideBet {
  color: gold;
  font-weight: bold;
}

.choosenPlayer {
  & img {
    width: 3.5em;
    height: 3.5em;
    border-radius: 50%;
    border: 2px solid gold;
    object-fit: cover;
    background-color: $basecolorPurple;
  }
}

.rules li {
  font-size: 0.8em;
  color: white;
  text-align: left;
  margin-bottom: 0.5em;
}

.alert-gold {
  background-color: gold;
  color: black;
  font-weight: bold;
}
