.form-control {

  border: none !important;
  padding: 0 !important;
}

label {
  font-size: 1em;
  margin-bottom: 5px;
}

.form-control {
  margin-bottom: 10px;
}
.row.inputFile.mb-4 {
  color: $navbarWhite;

  padding-left: 10px;
}
.error {
  color: red;
}
