.MuiPaper-root {
  width: 90% !important;
}
@media screen and (max-width: 600px) {
  .MuiPaper-root {
    width: 95% !important;
  }
}

.MuiAvatar-root {
  border: 2px solid black;
  height: 60px !important;
  width: 60px !important;
}

.MuiTableCell-stickyHeader {
  background-color: $headerColorBlue !important;
  color: white !important;
}

.lastGame-head {
  background-color: $basecolorPurple !important;
}

.MuiTableCell-head {
  font-size: 20px !important;
  text-decoration: underline;
}

.MuiTableCell-body {
  font-weight: 900 !important;
}

.noGames {
  color: $basecolorRed;
}

#mainStats{
 background-color:$basecolorPurple;
}

#statsCardBody{
   background-color: $darkeerPurple;

   & a{
     color:$navbarWhite;

     & svg{
        width: 1.5em;
        height: 2em;
  
     }
    
   }
}

#mainStats img{
align-self: center;
width: 80%;
height: 18vh;
object-fit: cover;


}

#statsCardText{
text-align: center;


 & p{
  margin-bottom: 0;

 }


 & span:first-child{
   color: $navbarWhite;
  align-self: center;
  font-weight: bolder;
  font-size: 1.1em;
 }
 & span{
  align-self: center;
  font-weight: bolder;
  font-size: 1.5em;
 }

}

.card-title{
  color:#02d84d;
  font-weight: bolder;
}

#month{
  color:$navbarWhite;
}