// .MuiPaper-root {
//   // width: 90% !important;
// }
// @media screen and (max-width: 600px) {
//   .MuiPaper-root {
//     // width: 95% !important;
//   }
// }
#dashboard{
  margin-left: 5%;
}

.MuiAvatar-root {
  border: 2px solid black;
  height: 60px !important;
  width: 60px !important;
}

.MuiTableCell-stickyHeader {
  background-color: $headerColorBlue !important;
  color: white !important;
}

.lastGame-head {
  background-color: $basecolorPurple !important;
}

.MuiTableCell-head {
  font-size: 20px !important;
  text-decoration: underline;
}

.MuiTableCell-body {
  font-weight: 900 !important;
}

.noGames {
  color: $basecolorRed;
}

#mainStats {
  background-color: $basecolorPurple;
}

#statsCardBody {
  background-color: $darkeerPurple;

  & a {
    color: $navbarWhite;

    & svg {
      width: 1.5em;
      height: 2em;
    }
  }
}

.img-card {
  height: 10rem;
  width: 12rem;
  margin: auto;
}
#mainStats img {

  height: 100%;
  object-fit: contain;
}

#statsCardText {
  text-align: center;
  & p {
    margin-bottom: 0;
  }

  & span:first-child {
    color: $navbarWhite;
    align-self: center;
    font-weight: bolder;
    font-size: 1.5em;
  }
  & span {
    align-self: center;
    font-weight: bolder;
    font-size: 1.5em;
  }
}

.card-title {
  color: $navbarWhite;
  font-size: 1.5em;
  font-weight: 900;
  display: flex;

  text-transform: capitalize;
}

#cardFooter{
  width: 100%;
  display: flex;
  height: 50px;
  justify-content: center;
  align-content: center;
  align-self: center;
  font-size: 1.3em;
  & svg{
    // margin:20px
    margin: 5px 0 0 5px;
    // height: 100%;
  }

}

#month {
  color: $navbarWhite;
}



