.team-list {
  font-weight: 700;
  font-size: 1.5em;
}

h3 {
  color: $basecolorGreen;
  font-weight: bolder;
}

.teamText {
  color: $navbarWhite;
  font-size: 1em;
}

#share {
  font-size: 0.6em;
  color: $basecolorPurple;
}

#playersList {
  list-style: none;
  justify-content: space-around;
}

.btn.mb-2 {
  background-color: $basecolorGreen;
}

.btn-secondary {
  padding-top: 10px !important;
  padding-bottom: 11px !important;
  text-decoration: none;
}

.card-img-top {
  object-fit: fill;
}
.start {
  color: $basecolorGreen !important;
}

.teamName {
  color: $navbarWhite;
}

.myTeamsContainer {
  height: 10rem;
  width: 5rem;
  margin: 0 auto;

  & img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 15px;
    border: 2px solid gold;
  }
}

.steps {
  color: $basecolorGreen;
  font-size: 2em;
}

.teams {
  img {
    height: 80px;
    width: 80px;
    object-fit: cover;
    border-radius: 15px;
    border: 2px solid $headerColorBlue;
    background-image: linear-gradient($basecolorPurple, #4e4949);
  }
}

.selectP {
  color: $navbarWhite;
  font-weight: bolder;
  padding-bottom: 20px;
  margin: 0;
  font-size: 1.5em;
}

span {
  color: $basecolorGreen;
}

#joinText {
  & p {
    color: $headerColorBlue;
  }
}

.btn-secondary {
  margin-left: 10px;
  margin-bottom: 0.35em;
}

@media screen and (max-width: 600px) {
  .btn-secondary {
    margin-top: 1em;
    margin-left: 0;
  }
}

.liveGames span {
  animation: blinker 0.8s step-start infinite;
}

@keyframes blinker {
  from {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}

#playerAvatar {
  font-size: 0.4em;
  padding: 0;
  & p {
    margin: 0;
    text-align: center;
    text-decoration: underline;
    margin-bottom: 0.5em;
    // font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  }
  & div {
    border: 1px solid $basecolorPurple;
    margin: auto;
    margin-bottom: 0.2em;
  }
}

/* CSS */
.button-71 {
  background-color: $basecolorGreen;
  border: 0;
  border-radius: 56px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: system-ui, -apple-system, system-ui, "Segoe UI", Roboto, Ubuntu,
    "Helvetica Neue", sans-serif;
  font-size: 1em;
  font-weight: 400;
  outline: 0;
  padding: 5px 10px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-71:before {
  background-color: initial;
  background-image: linear-gradient(#fff 0, rgba(255, 255, 255, 0) 100%);
  border-radius: 125px;
  content: "";
  height: 50%;
  left: 4%;
  opacity: 0.5;
  position: absolute;
  top: 0;
  transition: all 0.3s;
  width: 92%;
}

.button-71:hover {
  box-shadow: rgba(255, 255, 255, 0.2) 0 3px 15px inset,
    rgba(0, 0, 0, 0.1) 0 3px 5px, rgba(0, 0, 0, 0.1) 0 10px 13px;
  transform: scale(1.05);
}

@media (min-width: 768px) {
  .button-71 {
    padding: 5px 10px;
  }
}

/* CSS */
.button-72 {
  background-color: #0d6efd;
  border: 0;
  border-radius: 56px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: system-ui, -apple-system, system-ui, "Segoe UI", Roboto, Ubuntu,
    "Helvetica Neue", sans-serif;
  font-size: 1em;
  font-weight: 400;
  outline: 0;
  padding: 5px 5px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-72:before {
  background-color: initial;
  background-image: linear-gradient(#fff 0, rgba(255, 255, 255, 0) 100%);
  border-radius: 125px;
  content: "";
  height: 50%;
  left: 4%;
  opacity: 0.5;
  position: absolute;
  top: 0;
  transition: all 0.3s;
  width: 92%;
}

.button-72:hover {
  box-shadow: rgba(255, 255, 255, 0.2) 0 3px 15px inset,
    rgba(0, 0, 0, 0.1) 0 3px 5px, rgba(0, 0, 0, 0.1) 0 10px 13px;
  transform: scale(1.05);
}
/* CSS */
.button-75 {
  background-color: #6d7a8d;
  border: 0;
  border-radius: 56px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: system-ui, -apple-system, system-ui, "Segoe UI", Roboto, Ubuntu,
    "Helvetica Neue", sans-serif;
  font-size: 1em;
  font-weight: 400;
  outline: 0;
  padding: 5px 5px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-75:before {
  background-color: initial;
  background-image: linear-gradient(#fff 0, rgba(255, 255, 255, 0) 100%);
  border-radius: 125px;
  content: "";
  height: 50%;
  left: 4%;
  opacity: 0.5;
  position: absolute;
  top: 0;
  transition: all 0.3s;
  width: 92%;
}

.button-75:hover {
  box-shadow: rgba(255, 255, 255, 0.2) 0 3px 15px inset,
    rgba(0, 0, 0, 0.1) 0 3px 5px, rgba(0, 0, 0, 0.1) 0 10px 13px;
  transform: scale(1.05);
}

@media (min-width: 768px) {
  .button-72 {
    padding: 5px 12px;
  }
}

.teamText {
  font-size: 0.6em;
}
