.team-list {
  font-weight: 700;
  font-size: 1.5em;
}

h3 {
  color: $basecolorGreen;
  font-weight: bolder;
}

p strong {
  color: $basecolorRed;
}

.teamText {
  color: $navbarWhite;
  font-size: 1.5em;
}

.card-text {
  font-size: 1.2em;
}

.btn.mb-2 {
  background-color: $basecolorGreen;
}

.btn-secondary {
  padding-top: 10px !important;
  padding-bottom: 11px !important;
  text-decoration: none;
}

.start {
  color: $basecolorGreen !important;
}
