.userImage {
  width: 200px !important;
  height: 200px;
  border: 4px solid $backgroundGreen;
  margin: auto;
}

.me {
  background-color: $headerColorBlue;
  background: linear-gradient(
    90deg,
    $headerColorBlue 0%,
    $headerColorBlue 35%,
    rgba(0, 212, 255, 1) 100%
  );
}

h4.ms-4,
h2.ms-4 {
  color: $navbarWhite;
}

.totalP {
  background-color: $basecolorGreen;
  background: linear-gradient(
    90deg,
    $basecolorGreen 0%,
    $basecolorGreen 35%,
    $basecolorGreen 100%
  );
  min-height: 450px;
  padding-bottom: 100px;
}

.card.mx-auto {
  width: 250px !important;
  height: 250px;
  border: 3px solid $headerColorBlue;
  border-radius: 20px;
}

.card-text.mt-3 {
  text-decoration: underline;
  color: $headerColorBlue;
  font-size: 1.5em;
}

.icon-cards div {
  margin: auto;
}

.personalTeams {
  background-color: $headerColorBlue;
}

.editUser {
  color: black;
  font-size: 1.5em;
}
