@import "config";

footer {
  background-color: $basecolorGreen;
}

nav {
  background-color: $basecolorRed;
}

.navbar {
  a {
    color: black;
    font-size: x-large;
  }
}
.team-buttons {
  button:first-child {
    position: absolute;
    top: 35%;
    left: 20%;
  }
  button:nth-child(2) {
    position: absolute;
    top: 50%;
    left: 20%;
  }
}

.teams p {
  font-size: larger;
}
