@import "config";
@import "home";
@import "table";
@import "team";
@import "navbar";
@import "demo";

main {
  background-repeat: no-repeat;
  background-size: cover;
}
footer {
  background-color: $basecolorGreen;
  color: $navbarWhite;
}

nav {
  background-color: $basecolorRed;
}

.navbar {
  a {
    color: black;
    font-size: x-large;
  }
}

.teams p {
  font-size: larger;
}

.card-body.selected {
  background-color: $basecolorGreen;
}

.fa-money-bill-wave {
  color: $basecolorGreen;
}
.fa-minus-circle {
  color: $basecolorRed;
}
