@import "config";
@import "home";
@import "table";
@import "team";
@import "navbar";
@import "demo";
@import "user";
@import "sign";
@import "about";
@import "personal";
@import "game";
@import "footer";
@import "cardTable";
@import "signUp";
@import "newGame";
@import "lastGame";
@import "cashingDetails";
@import "sideBets";
@import "newMainTable";
@import "newStatsCard";

main {
  min-height: 780px;
  // background-repeat: no-repeat;
  // background-size: cover;
  background-color: $backgroundBlack;
  // display: table;
  // width: 100%;
  // background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
  //   url("http://localhost:3900/images/neon.jpg");
  // background-position: center top;
  // height: 350px;
}

.teams p {
  font-size: larger;
}

.card-body.selected {
  background-color: $basecolorGreen;
}

.fa-money-bill-wave {
  color: $basecolorGreen;
}
.fa-minus-circle {
  color: $basecolorRed;
}

p {
  margin-bottom: 0 !important;
}
