<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/style.css">
    <title>Document</title>
</head>
<body>
    <h1>sdsdsd</h1>
    <div class="logoImage">
    <img src='https://poker-underdog.com/logoNewRed.png'>
</div>
  <table>
      <thead>
          <tr>
              <td>Rank</td>
              <td>Player</td>
              <td>Cashing</td>
              <td>Profit</td>
          </tr>
      </thead>
      <tbody>
          <tr>
              <td>1</td>
              <td>Bibs</td>
              <td>520</td>
              <td>250</td>
          </tr>
          <tr>
              <td>1</td>
              <td>Bibs</td>
              <td>520</td>
              <td>250</td>
          </tr>
      </tbody>
  </table>  
</body>
</html>