* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Playfair Display", serif;
}

.container-fluid.pt-3 {
  animation-name: cont;
  animation-duration: 1500ms;
  transition-timing-function: ease-in;
  animation-delay: 0.8ms;
  opacity: 1;
  margin-left: 5%;
}

@keyframes cont {
  0% {
    opacity: 0;
    transform: translate3d(0px, 100%, 0px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

h1 {
  font-size: 2.5em !important;
  color: #ff3030;
  font-weight: bolder !important;
  font-family: "Rock Salt", cursive;
}

.col-12 p {
  font-size: 2.5em;
  color: #fcfcfc;
}

.col-12 p:nth-child(4) {
  color: #ff3030;
  font-weight: bolder;
}

.col-12 p:nth-child(5) {
  color: #02d84d;
  font-weight: bolder;
}

.col-6 img:nth-child(1) {
  border: 3px solid #ff3030;
  border-radius: 15px;
  transform: rotate(-30deg);
  margin: 2em;
  object-fit: cover;
}

.col-6 img:nth-child(2) {
  border: 3px solid #02d84d;
  border-radius: 15px;
  margin: 2em;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.MuiPaper-root {
  width: 90% !important;
}

@media screen and (max-width: 600px) {
  .MuiPaper-root {
    width: 95% !important;
  }
}

.MuiAvatar-root {
  border: 2px solid black;
  height: 60px !important;
  width: 60px !important;
}

.MuiTableCell-stickyHeader {
  background-color: #2752ea !important;
  color: white !important;
}

.lastGame-head {
  background-color: #901eed !important;
}

.MuiTableCell-head {
  font-size: 20px !important;
  text-decoration: underline;
}

.MuiTableCell-body {
  font-weight: 900 !important;
}

.noGames {
  color: #ff3030;
}

.team-list {
  font-weight: 700;
  font-size: 1.5em;
}

h3 {
  color: #02d84d;
  font-weight: bolder;
}

p strong {
  color: #ff3030;
}

.teamText {
  color: #fcfcfc;
  font-size: 1.5em;
}

.card-text {
  font-size: 1.2em;
}

.btn.mb-2 {
  background-color: #02d84d;
}

.btn-secondary {
  padding-top: 10px !important;
  padding-bottom: 11px !important;
  text-decoration: none;
}

.start {
  color: #02d84d !important;
}

.teamName {
  color: #fcfcfc;
}

.container-fluid ol {
  color: #fcfcfc;
  font-size: 1.5em;
}

.steps {
  color: #02d84d;
  font-size: 2em;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Playfair Display", serif;
}

.container-fluid {
  margin-left: 5% !important;
  margin-right: 12% !important;
}

nav {
  background-color: #ff3030;
  background: linear-gradient(to right, rgba(255, 48, 48, 0.9), rgba(255, 48, 48, 0.3)), url("https://cdn.pixabay.com/photo/2016/08/02/16/46/poker-1564042_960_720.jpg") top;
  background-size: cover;
  background-repeat: no-repeat;
}

.navbar a {
  color: black;
  font-size: x-large;
}

.navbar-brand img {
  border-radius: 15px;
  height: 150px;
  width: 200px;
}

.nav-link {
  color: #fcfcfc !important;
  font-size: xx-large !important;
  margin-right: 20px;
}

.nav-link:hover {
  color: #02d84d !important;
}

.demo-img {
  border: 1px solid black;
  height: 350px;
  width: 450px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.row.demoText {
  color: #fcfcfc;
  font-size: 1.5em;
  margin-right: 20px;
}

.demoVideo {
  border: 4px solid #2752ea;
}

@media screen and (max-width: 600px) {
  .demoVideo {
    width: 350px;
    height: 250px;
  }
}

.userImage {
  width: 200px !important;
  height: 200px;
  border: 4px solid #7aef9b;
  margin: auto;
}

.me {
  background-color: #2752ea;
  background: linear-gradient(90deg, #2752ea 0%, #2752ea 35%, #00d4ff 100%);
}

h4.ms-4,
h2.ms-4 {
  color: #fcfcfc;
}

.totalP {
  background-color: #02d84d;
  background: linear-gradient(90deg, #02d84d 0%, #02d84d 35%, #02d84d 100%);
  min-height: 450px;
  padding-bottom: 100px;
}

.card.mx-auto {
  width: 250px !important;
  height: 250px;
  border: 3px solid #2752ea;
  border-radius: 20px;
}

.card-text.mt-3 {
  text-decoration: underline;
  color: #2752ea;
  font-size: 1.5em;
}

.icon-cards div {
  margin: auto;
}

.personalTeams {
  background-color: #2752ea;
}

.editUser {
  color: #fcfcfc;
  font-size: 1.2em;
}

.col-12 p {
  font-size: 2em;
}

label {
  font-size: 2em;
  color: #fcfcfc;
}

h4.mt-4 {
  font-size: 2em;
  color: #fcfcfc;
}

.aboutIcon {
  width: 200px !important;
  height: 200px;
}

.noStats {
  color: #fcfcfc;
  font-size: 2em;
}

.myStats {
  font-size: 3.5em;
}

.card.mx-auto.mt-5 {
  margin-bottom: 80px;
}

.playerStats {
  width: 85% !important;
}

.playerImage {
  border: 3px solid #02d84d;
}

.join {
  color: #02d84d;
}

main {
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #1c1515;
}

footer {
  background-color: #02d84d;
  color: #fcfcfc;
}

.teams p {
  font-size: larger;
}

.card-body.selected {
  background-color: #02d84d;
}

.fa-money-bill-wave {
  color: #02d84d;
}

.fa-minus-circle {
  color: #ff3030;
}
/*# sourceMappingURL=main.css.map */