* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

footer {
  background-color: #009a66;
}

nav {
  background-color: #a01010;
}

.navbar a {
  color: black;
  font-size: x-large;
}

.team-buttons button:first-child {
  position: absolute;
  top: 35%;
  left: 20%;
}

.team-buttons button:nth-child(2) {
  position: absolute;
  top: 50%;
  left: 20%;
}

.teams p {
  font-size: larger;
}

.card-body.selected {
  background-color: #009a66;
}
