* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto-slab";
}

.container-fluid.pt-3 {
  -webkit-animation-name: cont;
          animation-name: cont;
  -webkit-animation-duration: 1500ms;
          animation-duration: 1500ms;
  -webkit-transition-timing-function: ease-in;
          transition-timing-function: ease-in;
  -webkit-animation-delay: 0.8ms;
          animation-delay: 0.8ms;
  opacity: 1;
  margin-left: 5%;
}

@-webkit-keyframes cont {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0px, 100%, 0px);
            transform: translate3d(0px, 100%, 0px);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes cont {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0px, 100%, 0px);
            transform: translate3d(0px, 100%, 0px);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

h1 {
  font-size: 3.5em !important;
  color: #ff3030;
  font-weight: bolder !important;
}

.col-12 p {
  font-size: 2.5em;
  color: #fcfcfc;
}

.col-12 p:nth-child(4) {
  color: #ff3030;
  font-weight: bolder;
}

.col-12 p:nth-child(5) {
  color: #02d84d;
  font-weight: bolder;
}

.col-6 img:nth-child(1) {
  border: 3px solid #ff3030;
  border-radius: 15px;
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
  margin: 2em;
  -o-object-fit: cover;
     object-fit: cover;
}

.col-6 img:nth-child(2) {
  border: 3px solid #02d84d;
  border-radius: 15px;
  margin: 2em;
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.MuiAvatar-root {
  border: 2px solid black;
  height: 60px !important;
  width: 60px !important;
}

.MuiTableCell-stickyHeader {
  background-color: #2752ea !important;
  color: white !important;
}

.lastGame-head {
  background-color: #901eed !important;
}

.MuiTableCell-head {
  font-size: 20px !important;
  text-decoration: underline;
}

.MuiTableCell-body {
  font-weight: 900 !important;
}

.noGames {
  color: #ff3030;
}

.team-list {
  font-weight: 700;
  font-size: 1.5em;
}

h3 {
  color: #02d84d;
  font-weight: bolder;
}

p strong {
  color: #ff3030;
}

.teamText {
  color: #fcfcfc;
  font-size: 1.5em;
}

.card-text {
  font-size: 1.2em;
}

.btn.mb-2 {
  background-color: #02d84d;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto-slab";
}

.container-fluid {
  margin-left: 5% !important;
  margin-right: 12% !important;
}

.navbar-brand img {
  border-radius: 15px;
  height: 150px;
  width: 200px;
}

.nav-link {
  color: #fcfcfc !important;
  font-size: xx-large !important;
  margin-right: 20px;
}

.nav-link:hover {
  color: #02d84d !important;
}

.demo-img {
  border: 1px solid black;
  height: 350px;
  width: 450px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.row.demoText {
  color: #fcfcfc;
  font-size: 1.5em;
}

.userImage {
  width: 200px !important;
  height: 200px;
  border: 4px solid #7aef9b;
  margin: auto;
}

.me {
  background-color: #2752ea;
}

h4.ms-4,
h2.ms-4 {
  color: #fcfcfc;
}

.totalP {
  background-color: #02d84d;
  min-height: 450px;
  padding-bottom: 100px;
}

.card.mx-auto {
  width: 250px !important;
  height: 250px;
  border: 3px solid #2752ea;
  border-radius: 20px;
}

.card-text.mt-3 {
  text-decoration: underline;
  color: #2752ea;
  font-size: 1.5em;
}

.icon-cards div {
  margin: auto;
}

.personalTeams {
  background-color: #2752ea;
}

.col-12 p {
  font-size: 2em;
}

label {
  font-size: 2em;
  color: #fcfcfc;
}

h4.mt-4 {
  font-size: 2em;
  color: #fcfcfc;
}

.aboutIcon {
  width: 200px !important;
  height: 200px;
}

.noStats {
  color: #fcfcfc;
  font-size: 2em;
}

main {
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #1c1515;
}

footer {
  background-color: #02d84d;
  color: #fcfcfc;
}

nav {
  background-color: #ff3030;
}

.navbar a {
  color: black;
  font-size: x-large;
}

.teams p {
  font-size: larger;
}

.card-body.selected {
  background-color: #02d84d;
}

.fa-money-bill-wave {
  color: #02d84d;
}

.fa-minus-circle {
  color: #ff3030;
}
